body {
	margin: 0;
	background: #ffffff; 
}

#clickbox { 
    text-align: center;
	font-family: 'Notable', sans-serif;
	background: rgba(0,0,0,0.8);
	color: #fffff0;
    padding: 30px;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    width: 80%;
    box-sizing: border-box;
}

#wrapper {
    box-sizing: border-box;
    
}

h1 {
    background: -webkit-linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Monoton', cursive;
    font-size: 64px;
    letter-spacing: 4.8px;
    text-align: center;
    text-transform: uppercase;

  }  

button {
    background-color: #05d6d9;
    background-image: linear-gradient(315deg, #05d6d9 0%, #b621fe 74%);
    display: inline-block;
    position: relative;
    padding: 20px 38px;
    top: 0;
    font-size: 30px;
    font-family: 'Notable', sans-serif;
    letter-spacing: 2px;
    color: #fffff0;
    opacity: .8;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
}


.footerbuttons {
background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
display: inline-block;
position: absolute;
padding: 15px 33px;
top: 0;
font-size: 20px;
font-family: 'Notable', sans-serif;
letter-spacing: 2px;
color: #fffff0;
opacity: .8;
box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
        transform: translateZ(0);
-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
}
  
button:hover {
    top: -7px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    -webkit-transform: rotateX(20deg);
       -moz-transform: rotateX(20deg);
        -ms-transform: rotateX(20deg);
            transform: rotateX(20deg);
            background: rgba(0,0,0,0);
	color: #fffff0;
	box-shadow: inset 0 0 0 3px #00ffff;
}
  
button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: #7CFFCB
    ;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}

.stopfade {
    opacity: .9;
}

.footer {
	position: absolute;
    margin-top: 10px;
	padding-top: 38px;
	width: 100%;
	height: 20%;
    background: rgba(0,0,0,0.8);
	border-top-style: solid;
	border-top-color: #05d6d9;
    border-top-width: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Notable', sans-serif;
    color: #fffff0;

}

.footerbuttons {   
    display: inline-block;
}

.is-grouped > .button:not(:last-child) {
    margin-right: 10px;
}

/* unvisited link */
a:link {
    color: #fffff0;
}

/* visited link */
a:visited {
    color: #fffff0;
}

/* mouse over link */
a:hover {
    color: #7CFFCB
    ;
}

/* selected link */
a:active {
    color: #7CFFCB
    ;
}

a {
    border-bottom: 1px solid #b621fe;
    color: #b621fe;
    padding-bottom: 4px;
    text-decoration: none;
  }
  
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: 4px;
    text-decoration: none;
  }

@media screen and (max-width: 480px) { 
  
    body, .footer {
        background-color: #000;
        
    }
 #wrapper, #clickbox {
     width: 100%;
 }

}

